<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
  	<res-ref-name>jdbc/news</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
  	<servlet-name>TopicServlet</servlet-name>
  	<servlet-class>com.news.servlet.TopicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>TopicServlet</servlet-name>
  	<url-pattern>/TopicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AdminNewsServlet</servlet-name>
  	<servlet-class>com.news.servlet.AdminNewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminNewsServlet</servlet-name>
  	<url-pattern>/AdminNewsServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<servlet-class>com.news.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>NewsServlet</servlet-name>
  	<servlet-class>com.news.servlet.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>NewsServlet</servlet-name>
  	<url-pattern>/NewsServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>CharsetFilter</filter-name>
  	<filter-class>com.news.filter.CharsetFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>CharsetFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>
